html, head, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: hsla(0,0%,100%,.7);
    background-color: #293347;
}


/* Globals */
a {
    color: inherit;
    text-decoration: inherit;
}

div.clear {
    clear: both;
}

.common,
.rare,
.epic,
.legendary {
    border-radius: 1mm;
}

.common {
    /* Pale red */
    background-color: rgb(192, 148, 118);
    box-shadow: 0px 0.2rem 0px 0px rgb(205, 170, 146) inset;
}

.rare {
    /* Light blue */
    background-color: rgb(154, 218, 243);
    box-shadow: 0px 0.2rem 0px 0px rgb(190, 231, 247) inset;
}

.epic {
    /* Pink */
    background-color: rgb(244, 112, 167);
    box-shadow: 0px 0.2rem 0px 0px rgb(247, 150, 190) inset;
}

.legendary {
    /* Orange */
    background-color: rgb(210, 146, 8);
    box-shadow: 0px 0.2rem 0px 0px rgb(245, 172, 15) inset;
}

/* Template */
div.body {
    margin: 0 auto;
    width: 250mm;
}

div.header {
    display: table;
    width: 100%;
    margin: 4mm 0;
}

div.footer {
    margin: 4mm 0;
}

div.header div {
    display: table-cell;
    vertical-align: middle;
}

div.title {
    text-align: left;
}

div.title a {
    font-size: 12mm;
}

div.tagform {
    text-align: right;
}

div.tagform select,
div.tagform input,
div.tagform button {
    color: #000;
    background-color: hsla(0,0%,100%,.7);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 1mm;
    border: solid 0.25mm;
    box-sizing: border-box;
    display: inline-block;
    height: 8mm;
    line-height: 8mm;
    margin: 0 1px;
    vertical-align: bottom;
}

div.tagform select:hover,
div.tagform input:hover,
div.tagform button:hover {
    background-color: hsla(0,0%,100%,.9);
}

div.tagform select {
    -moz-appearance:none;
    -webkit-appearance:none;
    appearance:none;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_arrow_drop_down_black_24px.svg);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 24px;
}

div.tagform button:disabled {
    color: #888;
    border-color: #000;
}

/* Index */
p.status {
}

p.category {
    font-size: 6mm;
}

/* Player name */
div.tagtitle {
    border-spacing: 1mm;
    display: table;
    font-size: 8mm;
}

div.tagtitle p,
div.tagtitle button {
    display: table-cell;
}

p.pc-us,
p.pc-eu,
p.pc-kr,
p.psn,
p.xbl {
    border-radius: 1mm;
}

p.pc-us {
    background-color: rgb(198, 155, 0);
    text-shadow: 0mm 0mm 1mm #444;
}

p.pc-eu {
    background-color: rgb(141, 57, 57);
    text-shadow: 0mm 0mm 1mm #444;
}

p.pc-kr {
    background-color: rgb(169, 149, 141);
    text-shadow: 0mm 0mm 1mm #444;
}

p.psn {
    background-color: rgb(88, 111, 181);
    text-shadow: 0mm 0mm 1mm #444;
}

p.xbl {
    background-color: rgb(109, 152, 76);
    text-shadow: 0mm 0mm 1mm #444;
}

button.refresh {
    background-color: transparent;
    background-image: url(https://storage.googleapis.com/material-icons/external-assets/v4/icons/svg/ic_refresh_black_24px.svg);
    border: none;
    cursor: pointer;
    filter: invert(100%);
    height: 24px;
    vertical-align: middle;
    width: 24px;
}

/* Achievements table */

div.achImg {
    float: left;
    margin-right: 2mm;
}

div.achRightImg {
    float: right;
    margin-left: 2mm;
}

div.achImg img,
div.achRightImg img {
    height: 16mm;
    width: 16mm;
}

div.disabled img {
    opacity: 0.3;
}

div.achTextHolder {
    height: 16mm;
    position: relative;
    overflow: hidden;
    color: #000;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
    border-radius: 1mm;
}

div.achBar {
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
}

div.achPercent {
    float: right;
    position: relative;
    font-weight: bold;
    padding: 3.5mm 5mm 0 0;
}

div.achText {
    padding: 3.5mm 0 0 5mm;
}

p.achName,
p.achDescription {
    margin: 0;
    padding: 0;
}

p.achName {
    font-weight: bold;
}
